<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
</head>
<body>
    <!--navbar starts-->

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="#"><strong>Flurgex</strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
               
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <div class="col-sm-6 ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html" target="_blank">Home</a>
                  </li>
                  </div>
                  <div class="col-sm-6 ">
                  <li class="nav-item">
                    <a class="nav-link active" href="/about.html" target="_blank">About</a>
                  </li>
                  </div>
                  <div class="col-sm-6 ">
                  <li class="nav-item">
                    <a class="nav-link active" href="/help.html" target="_blank">Help</a>
                  </li>
                  </div>
                  <div class="col-sm-6 ">
                  <li class="nav-item">
                    <a class="nav-link active" href="/contact.html" target="_blank">Contact</a>
                  </li>
                  </div>
                  
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                  <button class="btn btn-warning"><li><a id="signupbutton" href="signup.html" target="_blank" style="color: rgb(255, 254, 254); text-decoration: none;"><span class="glyphicon glyphicon-user">Sign Up</a></li></button>
                </ul>

              </div>
            </div>
          </nav>
    </header>
   <!--navbar ends-->
    
<!-- Login form creation starts-->
<div class="bg-img">
<section class="container">
  
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-6 col-lg-6">
      <form class="card-container" method="POST">
        
      <div class="m-3  p-4 border">
        <h4 class="text-center font-weight-bold display-4 "><strong> Sign In</strong> </h4>
        
      <div class="card-group">
        <label for="InputEmail1">Email Address</label>
        <input type="email" class="form-control" id="InputEmail1" aria-describeby="emailHelp" placeholder="Enter email">
      
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
      
      
        <label for="file">Security Key</label>
        <input type="file" class="form-control" id="InputFile" placeholder="file">
      </div>
      
      <div class="checkbox">
        <input type="checkbox" class="form-check-input"  id="examplecheck"  name="remember" checked="checked" >
        <label for="examplecheck" class="form-check-label">Remember me</label>
      </div>
      
      
      <button type="submit" class="btn btn-block btn-warning ">Sign In</button>
      <div class="text-center">
        <a href="signup.html" target="_blank">Sign Up</a>
        <span class="p-2">|</span>
        <a href="/forgot.html" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot password</a>
      </div>  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">What's my password?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
              <form class="card-container" method="POST">
              <div class="m-3  p-4 border">
              <h1 class="text-center font-weight-bold display-6 "><strong>Forgot password</strong> </h1>
              <div class="card-group">
                <label for="InputEmail1">Email Address</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describeby="emailHelp" placeholder="Enter email">
              </div>
              </div>
              </form>
  
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Send OTP</button>
              <button type="button" class="btn btn-warning">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
      </form>
    </section>
  </section>
</section>
</div>
<!-- Login form creation ends -->

<!--footer-->
<footer class=" bg-dark text-white pt-5 pb-4 ">
  <!--Social buttons-->
  <div class="text-center m-3">
    <h3>You can find us at</h3>
    <a href="#" target="_blank" class="fa fa-envelope py-3"></a>
    <a href="#" target="_blank" class="fa fa-facebook py-3"></a>
    <a href="#" target="_blank" class="fa fa-twitter py-3"></a>
    <a href="#" target="_blank" class="fa fa-google py-3"></a>
    <a href="#" target="_blank" class="fa fa-linkedin py-3"></a>
    <a href="#" target="_blank" class="fa fa-youtube py-3"></a>
    <a href="#" target="_blank" class="fa fa-instagram py-3"></a>
  </div>
  <hr class="mt-0">
  <!--social ends-->
  <div class="container text-center">
    <div class="row">
        <div class="col-sm-2 ">
            <p><a href="#" target="_blank" class="text-white" >Teams</a>

        </div>
        <div class="col-sm-2">
            <p><a href="#" target="_blank" class="text-white" >About</a>

        </div>
        <div class="col-sm-2 ">
          <p><a href="#" target="_blank" class="text-white" >Terms</a>

        </div>
        <div class="col-sm-2 ">
            <p><a href="#" target="_blank" class="text-white" >Privacy policy</a>

        </div>
        <div class="col-sm-2 ">
            <p><a href="#" target="_blank" class="text-white" >FAQ</a>

        </div>
        <div class="col-sm-2 ">
          <p><a href="#" target="_blank" class="text-white" >Contact</a>

        </div>
    
    </div>
 
  <!--Copyright-->
  <div class="py-3 text-center">
     &copy; Copyright 2021
    <a href="#">All Rights Reserved By <strong class=>Flurgex</strong></a> 
  </div>
  <!--/.Copyright-->
</footer>
<!--footer end-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>